body{
    background-color: rgba(236, 234, 234, 0.76);
}
.main{
    width: 70%;
    height: 850px;
    
    margin: 0% auto;
}
.navbar{
    display: flex;
    /* padding: 0px 0px; */
    margin-left: 30px

  
    
}
.navbar img{
    margin-right: 225px;
    margin-top: 20px;
}
.navbar a{

margin: 80px 40px 30px 0px;
text-decoration: none;
color: gray;
}
.navbar  :hover{
    color: blue;
}


.page{
    background-color: white;
    height: 550px;
}
.formImage{
    background-color: white;
    display: flex;
    
}
.formImage h1{
    margin-left: 50px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formImage img{
    
    width: 50px;
    height: 30x;
}
.formImage a img{
    background-color: white;
    margin: 40px 0px 0px 50px;
}

.textImage a img{
    width: 55px;
    height: 70px;
    margin: 0px 0px 0px 50px;
    background-color: white;
}
.formImage2{
    display: flex;
}
.formImage2 textarea{
border: none;
font-size: 20px;
width: 930px;
height: 200px;
color: darkcyan;
}
.textarea:focus{
    border: none;}
.inputsave input{
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.inputsave{
    text-align: right;
    margin-right: 40px;
}
.inputsave button{
width: 200px;
height: 70px;
font-size: 20px;
color: rgb(131, 131, 131);
}
.down{
    text-align: center;
    color:  gray;
    
}
.down a{
    text-decoration: none;
    color:  gray;
}
